@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fcc2c2d0;
}

.ant-layout-header {
  height: 79px;
  line-height: 77px;
  background-color: #fff;
  border-bottom: 1px solid #fcc2c2da;
  padding: 0;
}
.app-content {
  background-color: #fcc2c2d0;
}
