.container {
  display:block;
  margin: 0 auto; 
}

.login-container {
    max-width: 500px;
    height: 441px;
    margin: 50px auto 0 auto;
    padding: 50px 50px 40px 50px;
    border: 3px solid #437777;
    border-radius: 50px;
    font-size: 32px;
    font-weight: 700; 
  }

  .login-absolute-box {
    width: 496px;
    height: 436px;
    margin-top: -50px;
    margin-left: -51px;
    border-radius: 50px;
    background-image: url(../../images/journals_bg.png);
    background-position: 65% 30%;
    opacity: 0.48;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
  }

  .signup-box {
    max-width: 500px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 10px;
    
  }
  
  .signup-link-container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #437777;
    border-radius: 50px;
    color: rgb(117, 111, 111);
    text-shadow: 0px 0px 1px rgb(117, 111, 111);
    font-family: "Poppins", sans-serif;
    position: relative;
  }

  .signup-absolute-container {
    max-width: 500px;
    height: 64px;
    border-radius: 50px;
    position: absolute; 
    width: 100%;
    background-image: url(../../images/journals_bg.png);
    background-position: 65% 75%;
    opacity: 0.48;
  }
  
  .signup-link-container a {
    font-family: "Poppins", sans-serif;
    margin-left: 5px;
    font-weight: bold;
    color: #437777;
    text-shadow: none;
  }

  .login-msg {
    font-family: "Poppins", sans-serif;
    font-size: 16px; 
    font-weight: initial;
    text-shadow: 0px 0px 1px black;
    margin-bottom:25px;
    text-align:center;

  }

  .logo-container {
    margin-top: 30px; 
    font-family: "Bungee", sans-serif;
    text-shadow: 0px 0px 4px whitesmoke;
    font-size: 40px;
    color: #437777;
    
  }

  .icon-main {
    margin-left: 145px;
    margin-top: -85px; 
    background-color: rgb(247, 220, 220);
    border: 10px solid #437777;
    border-radius: 100%;
    padding: 12px; 
    position: absolute;
    z-index: 1;
  }