#slider-container{
    height: 100%;
    width: 100%; 
}

#dialog-box{
    height: 60vh; 
    width: 125vh;
    max-height: 475px;
    max-width: 900px;  
}

.slides{
    height: 100%; 
    width: 100%; 
    display: flex!important; 
    flex-direction: row; 
}

#intro-box{
    background: rgb(223, 155, 155);
    border: 15px double #437777; 
    
}

.carouselImg
{
   width: 50%; 
   height: 100%; 
   margin: 0px 20px; 
   border-radius: 15px; 
   border: 2px double #437777; 
}

.topline{
    font-family: "Bungee Shade", cursive;
    font-size: 45px; 
    color:#437777;
    text-align: center; 

}
.bottomline{
    font-family: "Bungee", cursive;
    text-align: center; 
    font-size: 20px; 
    color: #437777;

}

.paras{
    display:inline; 
    text-align: left;
    margin-top: 8%; 
    font-family: Poppins, sans-serif;
    font-size: 15px; 
    color: #437777;
}

#community-img {
    margin-top: 12%;
}

#exclusivity-img {
    margin-top: 8%; 
}

#security-img {
    height: 55vh;  
}

#reliability-img {
    margin-top: 3%; 
    max-height: 400px; 
}

#creativity-img {
    height: 55vh; 
    max-height: 400px; 
}
