#slider-container{
    height: 100%;
    width: 100%; 
}

#dialog-box{
    height: 60vh; 
    width: 125vh;
}

.slides{
    height: 100%; 
    width: 100%; 
    display: flex!important; 
    flex-direction: row; 
}

#intro-box{
    background: rgb(216, 141, 141);
    border: 15px double #437777; 
    
}

.carouselImg
{
   width: 50%; 
   height: 100%; 
   margin: 0px 35px; 
}

.carouselText {
   width: 100%; 
   height: 100%; 
   margin-top: 25%

}

