.redirect-container {
    max-width: 600px;
    display: flex; 
    flex-flow: column wrap;
    margin: auto;
    margin-top: 40px; 
    padding: 25px;
    justify-content: center; 
}

.redirect-container >*{
    flex-basis: auto; 
    margin: auto;
    margin-top: 25px; 
}

.redirect-img {
    height: 450px; 
    border-radius: 10%;
    border: 3px double #437777;
}

.redirect {
    font-size: 30px;
    text-align: center;
    color: cadetblue
}

.landingbtn {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 10px 20px; 
  background-color: #437777;
  width: 200px; 
  color: white; 
  border-radius: 15px; 
  margin-right: 15px; 
  
}

